@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Wix Madefor Display", sans-serif;
}

:root {
  --bg-color: #f6eaef;
  --text-color: #070305;
  --primary-color: #88bdc3;
  --secondary-color: #ffffff;
  --accent: #994d91;
  --bg-color-dark: #23200b;
  --bg-text-color-dark: #fcedf8;
}

.dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--bg-text-color-dark);
}

.dark-mode-btn {
  background-color: var(--bg-color-dark);
  color: var(--bg-text-color-dark);
}

.dark-mode-task {
  color: var(--text-color);
}

.dark-mode-btn:hover {
  background-color: #312f13;
}

body {
  margin: 0;
  background-color: var(--bg-color);
}

header {
  text-align: center;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.mode {
  margin-bottom: 10px;
}

.bx-brightness {
  font-size: 2rem;
  margin-top: 10px;
}

header > p {
  color: var(--text-color);
  font-style: italic;
  font-weight: 500;
  margin: 0;
}

.title {
  background: linear-gradient(to right, #88bdc3, #994d91);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  gap: 20px;
  padding: 10px 20px;
  height: 80vh;
  margin-bottom: 10px;
}

.folders {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 20px;
  flex: 1;
  height: 100%;
}

.projects > button {
  margin-bottom: 5px;
}

.lists > button {
  margin-bottom: 5px;
}

.projects > ul > button {
  margin-bottom: 5px;
}

.lists > ul > button {
  margin-bottom: 5px;
}

.projects,
.lists {
  border-radius: 15px;
  border: 2px solid var(--accent);
  padding: 5px 10px;
  overflow-y: auto;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: var(--bg-color);
  font-size: 1.2rem;
  color: var(--text-color);
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-align: left;
  width: 100%;
}

h2 {
  color: var(--primary-btn);
  margin: 0;
}

.bx {
  color: var(--accent);
  cursor: pointer;
}

.main-list {
  flex: 3;
  border: 2px solid var(--accent);
  border-radius: 15px;
  padding: 5px 10px;
  height: 100%;
  overflow-y: auto;
}

.main-list > h2 {
  margin: 0;
  color: var(--primary-btn);
}

.button-center {
  text-align: center;
}

form {
  background-color: var(--primary-color);
  padding: 10px;
  width: fit-content;
  border-radius: 15px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

button:hover {
  background-color: #d3d3d3;
}

input,
select {
  display: block;
  text-align: center;
  margin: 4px 0;
  border-radius: 15px;
  border: none;
}

.form-buttons {
  display: flex;
  text-align: center;
  gap: 10px;
}

form > button {
  padding: 10px 5px;
  text-align: center;
  width: fit-content;
  text-align: center;
  font-size: 0.5rem;
}

.bxs-folder,
.bx-task-x,
.bxs-right-arrow,
.bx-task {
  margin-right: 5px;
}

.bx-task-x:hover {
  color: darkgreen;
}

.bxs-trash,
.bx-edit-alt {
  margin-left: 10px;
}

.bxs-trash:hover {
  color: darkred;
}

.done-task {
  text-decoration: line-through;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.task-content {
  padding: 5px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.task-details {
  font-size: 1rem;
  padding-top: 5px;
}

.all-task-btn {
  margin-top: 5px;
}

p:not(.mode) {
  margin: 0;
}

.right {
  display: flex;
  align-items: center;
}

li {
  font-weight: 500;
  font-size: 1.1rem;
}

.prio {
  background-color: #a1a7a0;
  border-radius: 15px;
  margin-bottom: 5px;
}

